body {
    background-color: bisque;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', monospace;
    text-align: center;
}

.faceImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
    border-radius: 30px;
}

ul, ol {
    margin-left: 20%;
    font-family: sans-serif;
}

a {
    color: brown;
}